.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    display: flex; 
    flex-direction: column;
}

.info p {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.info p :last-child {
    color: rgba(0,0,0,0.5);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #1ca9c9;
}

.status legend {
    text-align: center;
}

.status label {
    display: flex;
    gap: 10px;
}

.rating {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.rating select {
    border: 2px solid #1ca9c9;
    border-radius: 10px;
    color: rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 1.2rem;
    font-family: montserrat;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit {
    width: 200px;
}



