.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.books li {
    padding-left: 0;
}
