.navbar {
    list-style-type: none;
    display: flex;
    padding: 0;
    background-color: #1ca9c9;
    width: 80vw;
    left: 0;
    right: 0;
    margin: auto;
}

.navbar li {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.navbar li:hover {
    background-color: #2586b6;
}

.navbar li a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.underlined {
    border-bottom: 2px solid white;
}